# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# SQLite database
*.sqlite3
*.db
library.db

# Environment variables
.env
*.env

# Virtual environments
venv/
env/
ENV/
.venv/
.ENV/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VSCode
.vscode/

# Uvicorn log files
*.log

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Pydantic V2 warning cache
__pydantic_cache__/
